@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <h2>Hello world!</h2>
</body>
</html>
