RequirementsScheduler/.vs/
RequirementsScheduler/src/RequirementsScheduler/obj/
RequirementsScheduler/src/RequirementsScheduler/bin/
RequirementsScheduler/src/RequirementsScheduler/project.lock.json
RequirementsScheduler/src/RequirementsScheduler/wwwroot/
RequirementsScheduler/src/RequirementsScheduler/node_modules/
RequirementsScheduler2/.vs/
