<div class="col-md-6 col-md-offset-4" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" *ngIf="message">
    <div class="row">
        <div class="col-sm-8">
            {{message.text}}
        </div>
        <div class="col-sm-4">
            <button type="button" class="close" aria-label="Close" (click)="message = undefined">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>