<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <h4 class="col-10">Detailed information about the user</h4>
            <div class="col-2 text-sm-right">
                <i class="fa fa-close fa-lg" (click)="$hide()" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-sm-10">
                After user registration not all settings were specified. The user will not be added until you complete all necessary settings
            </div>
            <div class="col-sm-2">
                <button type="button" class="close" aria-label="Close" (click)="message = undefined">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
        <form name="form" [formGroup]="f" novalidate>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label class="control-label">Username</label>
                    <div class="form-control-static">{{row.username}}</div>
                    <label class="control-label">Email</label>
                    <div class="form-control-static">{{row.email}}</div>
                    <label class="control-label">Role</label>
                    <div class="form-control-static">{{row.role}}</div>
                </div>
                <div class="form-group col-sm-2">
                    <label class="control-label">URL to user's cloud storage</label>
                    <input formControlName="cloudUrl" type="url" class="form-control" required/>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">Authentication service settings</label>

                    <div class="form-group" [ngClass]="{'has-error': f.submitted && !f.controls.issuerName.valid}">
                        <label>Issuer name</label>
                        <input formControlName="issuerName" type="text" class="form-control" required />
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': f.submitted && !f.controls.expTime.valid}">
                        <label>Expiration token time</label>
                        <input formControlName="expTime" type="time" class="form-control" required />
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': f.submitted && !f.controls.signKey.valid}">
                        <label>Signing key id</label>
                        <div class="row">
                            <div class="col-sm-10 padding-0">
                                <input readonly formControlName="signKey" input="text" class="form-control" required />
                            </div>
                            <div class="col-sm-1 padding-0">
                                <button type="button" class="btn btn-primary">Generate</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label ">Key Management service settings</label>
                    <div class="form-group ">
                        <label>Available key's IDs</label>
                        <ul>
                            <li>FB8A0C93-FE6C-4EA4-9869-81F17A1CF917</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <button type="button" class="btn btn-success">Save user's service settings</button>
            <button type="button" class="btn btn-info disabled">View docker info</button>
        </div>
    </div>
</div>